  .fixed_header {
  top: 50px;
  box-shadow: 5px 1px 40px #202020;
  background: #fff;
}

 .fixed_header.fixed {
    /* padding: 25px 35px; */
    top: 0px;
}
.header_top-inner {
    background: #333;
  

}
.header-black{
    display:flex;
}
#section2 {
    display: flex;
    align-items: center;
}
.header-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}

.after:before {
    position: absolute;
    top: 5px;
    content: "";
    display: inline-block;
    height: 20px;
    width: 1px;
    background: rgb(158, 171, 228);  
}
#volume {
    padding-right: 5px;
    color: #cccccc;
    font-size: 16px;
}
#glasses {
    padding-right: 5px;
    font-size: 16px;
}
#glasses:hover{
    color: #ffc107;
}
.select_right {
    border: none;
    outline: none;
    background: #333;
    padding: 5px 7px;
    border-radius: 15px;
    color: #cccccc;
    position: relative;
}

.box { 
    margin: 0px 20px;
    padding: 5px 0;
    position: relative;
}

.box select {
    background-color: #ccc;
    color: #606980;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 30px;
    font-size: 14px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
 
}
.box button {
    position: absolute;
    top: 4px;
    right: -5px;
    width: 35px;
    height: 35px;
    font-weight: 700;
    color: #606989;
    font-size: 18px;
    text-align: center;
    background-color: #aaa;
    border: none;
   
    pointer-events: none;
}
.azaners {
    position: relative;
    display: flex;
    align-items: center;
  
} 
.pochta{
    color: #ccc;
}
.pochta:hover{
    color: #ffc107;
}
.pochta a{
color: #ccc;
}
.pochta a:hover{
    color:#ffc107 ;
}






